.page{
    .container{
        background: #FEFFFE;
        color: #313836;
        .nav{
            display: flex; 
            justify-content: space-around;
            margin-left: 8px;
            margin-right: 8px;
            margin-bottom: 8px;
            background: #FFFFFF;
            .nav-item{
                display: flex;
                flex-direction: column;
                .img{
                    width: 48px;
                    height: 48px;                    
                    border-radius: 5px 0px 0px 0px;
                } 
                .text{
                    display: flex;
                    justify-content: center;
                    font-size: 11px;
                }
            }
        
        }
        .content{
            padding: 0 16px;
            margin: auto;
            .fortune{ 
                padding: 13px 18px 15px 16px;               
                background: #FFFFFF;
                box-shadow: 0px 8px 15px 0px rgba(150, 159, 171, 0.23);
                border-radius: 5px;
                font-size: 14px;
                .fortune-header{
                    display: flex;
                    justify-content: space-between;
                    .header-left{
                        display: flex; 
                        align-items: center;
                        .left-text {
                            font-size: 14px;
                            font-family: "SJfengyu-Regular";
                            color: #FFA256;
                        }                                      
                        .left-img{
                            padding-left: 8px;
                        }                       
                        
                    }
                    .header-right{
                        display: flex;
                        align-items: center;
                        .text{
                            font-size: 14px;
                            color: #313836;
                            font-family: 'PingFang-SC-Regular';
                        }
                        .icon{
                            width: 7px;
                            height: 8px;
                            margin-left: 4px;
                        }
                    }
                }
                .fortune-content{
                    margin-top: 16px;
                    // display: flex;
                    .des-title{
                        font-size: 14px;
                        font-weight: 600;
                        color: #313836;
                        font-family: 'PingFang-SC-Semibold';
                    }
                    .des{
                        display: flex;
                        margin-top: 8px;
                        width: 100%;
                        .des-img{
                            width: 64px;
                            height: 64px;
                        }
                        .des-content{
                            width: 74%;
                            font-size:9px ;
                            margin-left: 21px;
                            .item{
                                display: flex;
                                align-items: center;
                                margin-bottom: 12px;
                                .dot{
                                    width: 4px;
                                    height: 4px;
                                    border: 1px solid #8E58FF;
                                    border-radius: 50%;
                                    background-color: #8E58FF;
                                }
                                .text{
                                    margin-right:12px;
                                    margin-left: 3px;
                                    width: 52px;
                                }
                                .progress{
                                    width: 164px;
                                    background-color: #EAEAEA;
                                    border-radius: 5px;
                                    .score{
                                        height: 10px;
                                        border-radius: 5px;
                                    }

                                }
                            }
                            
                        }
                    }
                    .textarea{
                        font-size: 11px;
                        font-family: 'PingFang-SC-Regular';
                        display: -webkit-box;
                        overflow: hidden;
                        /* autoprefixer: ignore next */
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                    }
                }
            }
            .today{
                margin: 16px auto;
                height: 113px;
                display: flex;
                justify-content: flex-end;
                .info{
                    color: #FFFFFF;
                    .date{
                        margin-top: 13px;
                        margin-right: 18px;
                        font-size: 11px;
                        font-family: 'PingFang-SC-Regular';
                        text-align: right;
                    }
                    .today-content{
                        width: 186px;
                        margin-top: 16px;
                        margin-right: 11px;
                        font-size: 12px;
                        font-family: 'PingFang-SC-Regular';
                        text-align: left;
                    }
                }
            }
            .star-art{
                .art-title{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 8px;
                    .left{
                        .text{
                            font-size: 14px;
                            font-family: 'PingFang-SC-Regular';
                            color: #313836;
                        }
                    }
                    .right{
                        display: flex;
                        align-items: center;
                        .text{
                            font-size: 11px;
                            font-family: 'PingFang-SC-Regular';
                            color: #313836;
                        }
                        .icon{
                            width: 7px;
                            height: 8px;
                            margin-left: 6px;
                        }
                    }
                }
                .art-content{
                    height: 130px;
                    background-color: #8E58FF;
                }
            }

        }
    }
    
}