@import "../../styles/mixin";
//tab栏的高度
$height_of_tab_header: 85px !default;
.record-page {
    @include wh(100%, 100%);
    //导航栏背景
    .nav-container {
        background: #fff;
        display: flex;
        @include wh(100%, $height-nav);
        position: absolute;
        z-index: 5;
        left: 0;
        top: 0;
        .tabs {
            margin-top: 53px;
            margin-left: 16px;
            display: flex;
            .item:nth-of-type(2) {
                margin-left: 16px;
            }
            .item {
                .title {
                    text-align: center;
                    font-size: 18px;
                    color: rgba(49, 56, 54, .3);
                    line-height: 28px;
                }
                .title-selected {
                    color: rgba(49, 56, 54, 1);
                }
            }
        }
        //新建按钮
        .new_btn {
            margin-top: 53px;
            margin-left: 121px;
            .icon {
                width: 19px;
                height: 19px;
            }
        }
    }
    //返回按钮（只有选择档案的时候才显示）
    .nav-back {
        @include sc(30px, $color-dark);
        padding: 20px 10px;
        position: fixed;
        left: 15px;
        top: 0;
        z-index: 5;
    }
}