@import '../../../styles/base.less';
@purple:#6C5FD2;
@pink:#FF83A5;
@orange:#FFB976;

page{
  background:@deep ;
}
.synastry-detail-page{
  // margin-top: @height-nav;
  // background:@deep ;
  // color: @color;
  // .top-con,.relation,.detail{
  //     background: @white;
  // }
  .header{
    display: flex;
    align-items: center;
    padding-top: 54px;
    background: @white;
    .backNavBar{
        padding-left: 16px;
        .left_arrow{
            width: 17px;
            height: 17px;
        }
    }
    .title{
        margin-left: 130px;
        font-size: 17px;
        font-family: 'PingFang-SC-Regular';
        line-height: 24px;
        color: rgba(0, 0, 0, 1);
    }
  }
  .top-con{
    //档案1 vs 档案2 部分
    .vs-con {
      background: @white;
      padding: 26px 19px 16px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .item-con {
        .img {
          width: 106px;
          height: 106px;
          border-radius: 50%;
        }
        .name,.asc{
          text-align: center;
        }
        .name {
          margin-top: 12px;
          font-size: 14px;
          font-family: 'PingFang-SC-Regular';
          font-weight: 400;
          color: #313836;
          line-height: 20px;
        }
        .asc {
          margin-top: 4px;
          font-size: 12px;
          opacity: 30%;
          font-family: 'PingFang-SC-Regular';
          font-weight: 400;
          color: #313836;
          line-height: 17px;
        }
      }
      .text-align-right {
        text-align: right;
      }
      .vs-text {      
        position: relative;
        bottom: 30px;
        font-size: 18px;
        font-family: 'PingFang-SC-Regular';
        font-weight: 400;
        color: #313836;
        line-height: 25px;
      }
    }

    //进度条部分
    .progress-con {
        background: @white;
        padding-left: 16px;
        justify-content: space-between;
        align-items: flex-end;
          .percent-con {
            width: 100%;
            display: flex;
            .left-bg,.right-bg{
              border-radius: 18px;
              color: @white;
              line-height: 27px;
            }
            .left-bg {
              position: relative;
              background: #6C5FD3;
              padding-left: 16px;
              z-index: 100;
            }
            .right-bg {
              position: relative;
              background: #FF83A5;
              padding-right: 13px;
              text-align: right;
              z-index: 80;
              left: -19px;
            }
          }
          .des{
            display: flex;
            justify-content: space-between;
            padding: 6px 32px 0 16px;
            .left-des,.right-des{
              font-size: 14px;
              font-family: 'PingFang-SC-Regular';
              font-weight: 400;
              color: #313836;
              line-height: 20px;
            }
          }
      }

    //如果部分
    .if-content-con {
      padding: 16px 0 18px 0;
      background: @white;
      text-align: center;
      .title {
        font-size: 14px;
        font-family: 'PingFang-SC-Regular';
        font-weight: 400;
        color: #313836;
        line-height: 22px;
        opacity: 29%;
      }
      .content {
        margin-top: 16px;
        font-size: 16px;
        font-family: 'PingFang-SC-Regular';
        font-weight: 400;
        color: #313836;
        line-height: 24px;
      }
    }
  }

  .relation_scroll{
    // background: pink;
    padding: 16px 16px 16px 0;
    .scrollview{
      // width: 550px;
      white-space: nowrap;
    }
    .relation{
        display: inline-block;
        width: 310px;
        height: 117px;
        background: #FFFFFF;
        border-radius: 5px;
        margin-left: 16px;
        .title{
          font-size: 14px;
          font-family: 'PingFang-SC-Regular';
          font-weight: 400;
          color: #313836;
          line-height: 22px;
          margin-top: 15px;
          margin-left: 16px;
        }
        .rel-con{
            display: flex;
            margin-top: 18px;
            margin-left: 56px;
          .info{
            .rel{
              font-size: 14px;
              font-family: 'PingFang-SC-Regular';
              font-weight: 400;
              color: #313836;
              line-height: 20px;
              width: 122px;
              border-bottom: 1px solid @base;
            }
            .des{
              margin-top: 1px;
              font-size: 14px;
              font-family: 'PingFang-SC-Regular';
              font-weight: 400;
              color: #313836;
              line-height: 20px;
              opacity: 29%;
            }
          }
          .num{
            margin-left: 4px;
            font-size: 49px;
            font-family: 'DINMittelschriftStd';
            color: #6C5FD3;
            line-height: 59px;
          }
        }
    }
  }
  .detail{
    background: @white;
    font-size: 24px;
    .title{
      padding-top: 32px;
      text-align: center;
      font-size: 32px;
    }
    //图表部分
    .graph-con {
      width: 100%;
      height: auto;
    }
        //吸引、亲密。。部分{
    .items-con {
      display: grid;
      grid-template-columns: 50% 50%;
      .item-con {
        display: flex;
        align-self: flex-start;
        border-radius: 10px;
        margin: 0 28px 32px 32px;
        .sub-title {
          border-radius: 10px;
          padding: 2px 18px;
          color: @white;
          font-size: 28px;
        }
        .right-con {
          text-align: left;
          display: flex;
          align-items: center;
          border-radius: 10px;
          padding-left: 40px;
          padding-right: 22px;
          position: relative;
          left: -20px;
          .score {
            line-height: 30px;
            font-size: 32px;
          }
          .des {
          padding-left: 8px;
          }
        }

      }
    }
  }
  .comment{
    background: @white;
    margin-top: 32px;
    .title{
      padding-top: 28px;
      text-align: center;
      font-size: 32px;
    }
        //立足点
    .content-con {
      padding: 40px 40px;
      font-size: 28px;
      .judje-title-con {
        //background: #0f0;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .left-bg {
          background: @purple;
        }
        .judje-title {
          margin-left: 20px;
        }

      }

      .item-con {
        .content {
          opacity: 59%;
        }
      }
    }
        //双方在关系中的收获
    .get-content-con {
      .graph-con {
        .top-con {

        }
        .bottom-con {
          display: flex;
          justify-content: space-around;
          .item-con {
            text-align: center;
            .img {
            }
            .title {
              font-size: 28px;
            }
          }
        }
      }
    }

  }

  .more-btn{
    width: 45%;
    height: 70px;
    margin: 0 auto;
    margin-top: 140px;
    border-radius: 36px;
    background: #6C5FD2;
    text-align: center;
    color: @white;
    font-size: 28px;
    line-height: 70px;
    position: relative;
    bottom: 70px;
  }
}