@import '../../styles/base.less';

.setting-page {
  @include wh(100%, 100%);
  box-sizing: border-box;
  background: #fff;
  color: #000;

  //底部列表部分
  .list {
    margin-top: $height-nav;
    background: #fff;
    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      border-bottom: 1px solid $color-sperate-line;
      margin: 0 50px 0 50px;
      .left {
        display: flex;
        align-items: center;
        line-height: 100%;
        @include sc(30px,$color-dark);
        span, text {
          white-space: nowrap;
        }
      }
      .right {
        display: flex;
        align-items: center;
        line-height: 100%;
        .des {
          @include sc(30px, $color-light);
          padding: 6px 12px;
          margin-right: 25px;
        }
        i.arrow {
          font-size: 20px;
        }
      }
    }

    //分隔块
    .separate {
      @include separate_block;
    }
  }
}
