@import '../../../styles/base.less';

.fortune-detail-page{
    color: @color;
  .nav-con {
    width: 100%;
    height: @height-nav;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 2;
    .nav-back {
      padding-top: 20px;
      position: fixed;
      width: 80px;
      padding-left: 20px;
      z-index: 2;
    }

    //tabs
    .tab-container {
      z-index: 0;
      position: fixed;
      width: 100%;
      height: @height-nav;    
      margin-top: 10px;
      .tabs {
        margin-left: 20%;
        width: 60%;
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
        .item {
          .title {
            text-align: center;
            font-size: 32px;
            opacity: 29%;
          }
          .title-selected {
            opacity: 1;
          }
        }
      }
    }
  }
    .scrollview{
      position: fixed;
      width: 100%;
      top: @height-nav;
      background: @back;
      //单个pane
      .pane-page {
          .record{
              padding: 10px 32px 0 34px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: 28px;
              background: @white;
              .user{
                  display: flex;
                  align-items: center;
                .avator{
                    .img{
                    }
                    .bottom{
                        font-size: 16px;                    
                        box-shadow: 0px 16px 30px 0px rgba(162, 173, 187, 0.3);
                        border-radius: 14px;
                        position: relative;
                        top: -22px;
                        background: @white;
                        text-align: center;
                    }
                }
                .name{
                    margin-left: 32px;
                }
            }
            .time{}
          }
          .detail{
            background: @white;
            padding-top: 36px;
            .luck_adversity-container{
              margin: 50px 0 14px 32px;
              padding-left: 68px;
              .item-container{
                  display:flex;
                  align-items: center;
                  font-size: 28px;
                  margin-bottom: 32px;
                .title{
                  width: 96px;
                  height: 96px;
                  display:flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;                  
                  box-shadow: 8px 0px 15px 0px rgba(185, 200, 205, 0.22);
                }
                .info{
                  margin-left: 44px;
                }
              }
            }
          }
      }
  }


}