@import '../../../styles/base.less';

.fortune-detail-page{
    color: @color;
  .nav-con {
    width: 100%;
    height: @height-nav;
    display: flex;
    background: @white;
    position: fixed;
    padding-top: 29px;
    padding-left: 16px;
    .backNavBar{
      text-align: center;
      .left_arrow{
          width: 18px;
          height: 18px;
      }
    }

    //tabs
    .tab-container {
      margin-left: 90px;
      .tabs {
        display: flex;
        justify-content: space-around;
        .item:nth-of-type(2){
          margin-left: 16px;
        }
        .item:nth-of-type(3){
          margin-left: 16px;
        }
        .item {
          font-size: 16px;
          font-family: 'PingFang-SC-Regular';
          font-weight: 400;
          color: #313836;
          .title {
            text-align: center;
            opacity: 29%;
          }
          .title-selected {
            opacity: 1;
          }
        }
      }
    }
  }
    .scrollview{
      position: fixed;
      width: 100%;
      top: @height-nav;
      background: @back;
      //单个pane
      .pane-page {
          .record{
              display: flex;
              justify-content: space-between;
              background: @white;
              .user{
                  display: flex;
                .avator{
                  margin-left: 16px;
                    .img{
                      width: 64px;
                      height: 64px;
                      border-radius: 50%;
                    }
                    .bottom{
                      width: 51px;
                      height: 14px;
                      font-size: 8px;
                      font-family: 'PingFang-SC-Regular';
                      font-weight: 400;
                      color: #313836;
                      line-height: 15px;  
                      box-shadow: 0px 16px 30px 0px rgba(162, 173, 187, 0.3);
                      border-radius: 7px;
                      position: relative;
                      bottom: 18px;
                      left: 6px;
                      background: @white;
                      text-align: center;
                    }
                }
                .name{
                  font-size: 14px;
                  font-family: 'PingFang-SC-Regular';
                  font-weight: 400;
                  color: #313836;
                  line-height: 22px;
                  margin-top: 19px;
                  margin-left: 32px;
                }
            }
            .time{margin-right: 16px;
              font-size: 14px;
              font-family: 'PingFang-SC-Regular';
              font-weight: 400;
              color: #313836;
              line-height: 22px;
              margin-top: 19px;
            }
          }
          .detail{
            background: @white;
            .luck_adversity-container{
              padding: 25px 0 23px 51px;
              .item-container:nth-of-type(2){
                margin-top: 16px;
              }
              .item-container{
                display:flex;
                align-items: center;
                .title{
                  width: 48px;
                  text-align: center;
                  line-height: 48px;
                  border-radius: 50%;                  
                  box-shadow: 8px 0px 15px 0px rgba(185, 200, 205, 0.22);
                  font-size: 14px;
                  font-family: 'PingFang-SC-Regular';
                  font-weight: 400;
                  color: #313836;
                }
                .info{
                  margin-left: 22px;
                  font-size: 14px;
                  font-family: 'PingFang-SC-Regular';
                  font-weight: 400;
                  color: #313836;

                }
              }
            }
          }
      }
  }


}