@import "../../../styles/mixin";
//性别弹出框
.sex_modal {
    background: #fff;
    color: #000;
    //性别标题
    .title {
        font-size: 20px;
    }
    //列表container
    .list {
        .item {
            // padding: 20px;
            height: 30px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            .left_text {
                font-size: 16.5px;
                width: 50%;
            }
            .right_img {
                @include wh(30px, 30px);
            }
        }
    }
}