@import "../../styles/mixin";
//顶部搜索栏和提示的高度
$height-of-top-container: 150px !default;
//档案列表
.record-list-container {
    //搜索栏和提示部分
    .top-container {
        width: 100%;
        height: 35px;
        margin-top: $height-nav;
        position: absolute;
        //搜索栏部分
        //提示部分
        // .hint-con {
        //     display: flex;
        //     align-items: center;
        //     padding: 10px 40px;
        //     .img {
        //         @include wh(25px, 25px);
        //     }
        //     .text {
        //         margin-left: 10px;
        //         @include sc(25px, $color-light);
        //     }
        // }
    }
    //列表部分
    .records-container {
        //background: #f00;
        // top: $height-of-top-container+$height-nav;
        top: 35px+$height-nav;
        position: absolute;
        width: 100%;
        .records-ul {
            //background: #f00;
            // padding: 0 50px;
            margin-left: 16px;
            margin-top: 19px;
            .records-li {
                .item_container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 50px;
                    //索引和头像和名字
                    .left_container {
                        //background: #f00;
                        display: flex;
                        align-items: center;
                        .index {
                            @include sc(12px, $color-light);
                            width: 30px;
                        }
                        .img_name {
                            display: flex;
                            width: 300px;
                            border-bottom: 1px solid rgba(216, 216, 216, .3);
                            align-items: center;
                            padding: 8px 0;
                            .img_bg {
                                @include wh(29px, 29px);
                                border-radius: 29px;
                                margin-left: 8px;
                            }
                            .name {
                                @include sc(14px, $color-dark);
                                margin-left: 16px;
                                line-height: 22px;
                            }
                        }
                    }
                    .radio-img {
                        @include wh(40px, 40px);
                    }
                }
            }
        }
        .bottom-con {
            //background: #f00;
            @include wh(100%, $height-of-top-container);
        }
    }
    //底部完成按钮（只有多选的时候，才会有）
    .ok-con {
        position: fixed;
        bottom: 0;
        width: 100%;
        //padding: 20px 40px 50px 40px;
        border-top: 2px solid $color-sperate-line;
    }
}

//自定义tar-ui
.at-button--primary {
    background-color: $btn-active;
    border: 0px;
}