@import '../../../styles/base.less';
.relation-explain-page{
    // margin-top: @height-nav;
    // background: #F0F2F5;
    // padding: 38px 32px 0;
    // color: @deep;
    background: @deep;
    .header{
        display: flex;
        align-items: center;
        padding-top: 54px;
        padding-bottom: 10px;
        background: @white;
        .backNavBar{
            padding-left: 16px;
            .left_arrow{
                width: 17px;
                height: 17px;
            }
        }
        .title{
            margin-left: 130px;
            font-size: 17px;
            font-family: 'PingFang-SC-Regular';
            line-height: 24px;
            color: rgba(0, 0, 0, 1);
        }
      }
    .item-con:nth-of-type(1) {
        margin-top: 19px;
    }
    .item-con{
        padding: 0 16px 32px 16px;
        .top-con{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left-con{
                .title{
                    font-size: 16px;
                    font-family: 'PingFang-SC-Regular';
                    font-weight: 400;
                    color: #313836;
                    line-height: 24px;
                }
                .bottom-con{
                    margin-top: 5px;
                    display: flex;
                    font-size: 10px;
                    font-family: 'PingFang-SC-Regular';
                    font-weight: 400;
                    color: #FFFFFF;
                    line-height: 14px;
                    .padding{
                        border-radius: 10px;
                        padding: 2px 12px 3px ;
                    }
                    .good{
                        background: @base;
                    }
                    .love{
                        background: @pink;
                    }
                    .margin-left{
                        margin-left: 4px
                    }
                }
            }
            .right-con{
                display: flex;
                justify-content: space-around;
                align-items: center;
                .img{
                    width: 39px;
                    height: 39px;
                }
                .relation-img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .des{
            margin-top: 19px;
            font-size: 14px;
            font-family: 'PingFang-SC-Regular';
            font-weight: 400;
            color: rgba(49, 56, 54, .6);
            line-height: 20px;
        }
    }
}