.articles-li{
    box-shadow: 0px 8px 15px 0px rgba(150, 159, 171, 0.23);
    padding: 22px 38px 30px 40px;
    margin-bottom: 32px;
    .article-title{
        display: flex;
        justify-content: space-between;
        color: #313836;
        .title-text{            
            font-weight: 800;
            font-size: 28px;
        }
        .title-time{
            font-size: 18px;
        }
    }
    .article-img{
        margin: 20px auto 32px ;
    }
    .article-footer{
        display: flex;
        align-items: center;
        .left-con{
            display: flex;
            font-size: 24px;
            font-weight: 800;
            flex: 6;
            .left-img{
                width: 48px;
                height: 48px;
                border: 1px solid red;
                background: blue;
            }
        }
        .right-con{
            font-size:22px ;
            flex: 4;
            display: flex;
            justify-content: space-around;
            .right-img{
                width: 24px;
                height: 24px;
            }
        }
    }
}